{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{{FRONTEND_TRANSLATIONS.Sign_in}}{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>{{FRONTEND_TRANSLATIONS.Sign_in}}</h1>

		<p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">{{FRONTEND_TRANSLATIONS.Sign_in}}</button>
		  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{{FRONTEND_TRANSLATIONS.Forgot_password}} ?</a>
		</form>

    </div>
</div>
{% endblock innercontent %}

